<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- To customize the asp.net core module uncomment and edit the following section. 
	For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
	<!--
	<system.webServer>
		<handlers>
			<remove name="aspNetCore"/>
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
		</handlers>
		<aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
	</system.webServer>
	-->

	<system.webServer>
		<aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false" startupTimeLimit="3600" requestTimeout="23:00:00" hostingModel="inprocess">
			<environmentVariables>
				<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
				<environmentVariable name="ASPNETCORE_FORWARDEDHEADERS_ENABLED" value="true" />
			</environmentVariables>
		</aspNetCore>
		<rewrite>
			<rules>
				<clear />
				<rule name="Api" stopProcessing="true">
					<match url="^api\/.*$" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="None" />
				</rule>
				<rule name="ReverseProxyInboundRule1" stopProcessing="true">
					<match url="^(.*)$" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<serverVariables>
						<set name="HTTP_X_ORIGINAL_ACCEPT_ENCODING" value="HTTP_ACCEPT_ENCODING" />
						<set name="HTTP_ACCEPT_ENCODING" value="" />
					</serverVariables>
					<action type="Rewrite" url="http://localhost:4000/{R:1}" />
				</rule>
			</rules>
			<outboundRules>
				<rule name="ReverseProxyOutboundRule1" preCondition="ResponseIsHtml1">
					<match filterByTags="A, Base, Form, Img" pattern="^http(s)?://localhost:4000/(.*)" />
					<action type="Rewrite" value="http{R:1}://angular-universal.millerslab.com/{R:2}" />
				</rule>
				<rule name="RestoreAcceptEncoding" preCondition="NeedsRestoreAcceptEncoding">
					<match serverVariable="HTTP_ACCEPT_ENCODING" pattern="^(.*)" />
					<action type="Rewrite" value="{HTTP_X_ORIGINAL_ACCEPT_ENCODING}" />
				</rule>
				<preConditions>
					<preCondition name="ResponseIsHtml1">
						<add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
					</preCondition>
					<preCondition name="NeedsRestoreAcceptEncoding">
						<add input="{HTTP_X_ORIGINAL_ACCEPT_ENCODING}" pattern=".+" />
					</preCondition>
				</preConditions>
			</outboundRules>
		</rewrite>
		<handlers>
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		</handlers>
	</system.webServer>
</configuration>